<?xml version="1.0" encoding="utf-8" ?>
<!--設定值1-->
<!--<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>-->

<!--設定值2-->
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.runtime.caching>
    <memoryCache>
      <namedCaches>
        <add name="Default"
             physicalMemoryLimitPercentage="3"
             cacheMemoryLimitMegabytes="5000"
             pollingInterval="00:00:01"
             />
      </namedCaches>
    </memoryCache>
  </system.runtime.caching>
</configuration>