<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.runtime.caching>
    <memoryCache>
      <namedCaches>
        <!--<add name="Default" cacheMemoryLimitMegabytes="1" pollingInterval="00:00:01" physicalMemoryLimitPercentage="1"/>-->
        <add name="Default" cacheMemoryLimitMegabytes="1" pollingInterval="00:00:01"/>
      </namedCaches>
    </memoryCache>
  </system.runtime.caching>
</configuration>