<?xml version="1.0" encoding="utf-8" ?>
<!--設定值3-->
<configuration>
  <!--<runtime>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.runtime.caching>
    <memoryCache>
      <namedCaches>
        <add name="Default"
             physicalMemoryLimitPercentage="1"
             cacheMemoryLimitMegabytes="1"
        />
      </namedCaches>
    </memoryCache>
  </system.runtime.caching>
</configuration>
<!--pollingInterval="00:00:01"-->